html, body {
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	touch-action: none;
	background: linear-gradient(#001848, #906090) center bottom;
	content-zooming: none;
}

.self-description {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	list-style-type: none;
	display: inline-flex;
}

.self-description a {
	padding: 5px 10px;
	color: #001848;
	font-size: 20px;
	letter-spacing: 1.5px;
	text-decoration: none;
	transition: 0.5s ease all;
	font-weight: 400;
}

.self-description a:hover {
	color: #fff;
}
